
.errs{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: rgb(238, 94, 37);

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 100VW;
}
h1{
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}
input{
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 8px;

}
.btn_connect {
    background-color: rgb(37, 82, 82);
    color: white;
    font-size: 24px;
    padding: 3px 0;
    border-radius: 30px;
    margin-top: 30px;

}
.btn_connect:hover{
    color: red;
}
.form_conn{
/* backdrop-filter: sepia(90%); */
padding: 30px;
border-radius: 25px;
}
